# --- Java / Maven ---
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
*.class

# --- IDEs (IntelliJ, VS Code, Eclipse) ---
.idea/
*.iws
*.iml
*.ipr
.vscode/
.classpath
.project
.settings/

# --- Python (FastAPI) ---
__pycache__/
*.pyc
.env
venv/
.pytest_cache/

# --- Frontend (Vue.js / Node) - CRÍTICO NÃO ESQUECER ---
node_modules/
dist/
npm-debug.log
yarn-error.log

# --- Arquivos Gerados pelo Sistema (ETL e Dados) ---
downloads_ans/
*.zip
*.csv
!queries_tarefa3.sql  # (O "!" diz para NÃO ignorar o SQL, esse nós queremos)

# --- Sistema Operacional ---
.DS_Store
Thumbs.db